.add-instructor-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .add-instructor-container h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    /* font-weight: bold; */
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .degree-options {
    /* display: flex; */
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .degree-options div {
    display: flex;
    align-items: center;
  }
  
  .degree-options label {
    margin-left: 5px;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    color: #888;
  }
  